body {
    padding-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main > .profile {
    flex: auto;
    padding: 20px;
}

.profileBody .buttonGroup {
    display: flex;
    gap: 5px;
}

main > .container .user-formate {
    display: flex;
    gap: 20px;
}

.user-formate img {
    width: 8.2rem;
    border-radius: 50%;
}

.user-formate .profileBody {
    flex:auto;
}

.noBlog {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author {
    margin: 5px 0px;
}

.title-section {
    display: flex;
}

.title-section h4 {
    flex: auto;
}

.title-section .delete {
    background-color: white;
    border: 0.5px solid red;
    padding: 0;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-section .delete:hover {
    color: white;
    border: 1px solid white;
    background-color: red;
}

.card-text {
    margin-bottom: 5px;
}

.btn-group {
    gap: 3px;
}

.followers_container {
    cursor: default;
}

@media (max-width: 426px) {
    main > .container .user-formate {
        gap: 10px;
    }

    main > .profile {
        padding:20px 10px
    }

    .user-formate img {
        height: 7rem;
    }

    .profileBody h4 {
        font-size: 1rem;
    }

    .profileBody h4 i {
        font-size: 0.9rem;
    }

    .profileBody h6 {
        font-size: 0.9rem;
    }
    .followers_container h5{
        font-size: 14px;
    }
}